

<div class="container">
	<!-- top navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">IP GUI demo</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav nav-tabs">
					<li ng-repeat="view in views" ng-click="click(view)" ng-class="{active: isActive(view)}">
						<a href="#interface">{{view.$["name"]}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-4">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Direction</th>
							<th>Range From</th>
							<th>Range To</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="port in ports" ng-show='showMe(port)'>
							<th>{{port.$["name"]}}</th>
							<th>{{port.$["dir"]}}</th>
							<th>{{getRange(port, "range_from")}}</th>
							<th>{{getRange(port, "range_to")}}</th>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- main area -->
			<div class="col-xs-8 col-sm-8">
				<div ng-repeat="g_out in active.group" ng-show='showMe(g_out)' class="panel panel-primary">
					<div class="panel-heading">
						<h3>{{g_out.$["name"]}}</h3>
						<p>{{g_out.description[0]}}</p>
					</div>
					<div class="panel-body">
						<div ng-repeat="g in g_out.group" ng-show='showMe(g)'>
							<div>
								<p class="lead text-center">{{g.$["name"]}}</p>								
							</div>
							<div class="well">
								<form class="form-horizontal" class="well">
									<div ng-repeat='cntl in g.element'>
										<!-- Text input-->
										<div class="form-group"  ng-if='cntl.setting.$["gui"]=="input"' ng-show='showMe(cntl)'>
											<label for='{{cntl.setting.$["id"]}}' class="col-sm-5 control-label">{{cntl.setting.$["display"]}}</label>
											<div class="col-sm-5">
												<input type="text" ng-model='userConfig[cntl.$["ref"]]' class="form-control" placeholder='{{cntl.setting.$["default"]}}' ng-class="{disabled: disableMe(cntl)}">
											</div>
										</div>

										<!-- radio-->
										<div class="form-group" ng-if='cntl.setting.$["gui"]=="radius"' ng-show='showMe(cntl)'>
											<label class="col-sm-5 control-label">{{cntl.setting.$["display"]}}</label>
											<div class="col-sm-5">
												<div class="radio" ng-repeat='lab in parseList(cntl.setting.$["values"])' ng-class="{disabled: disableMe(cntl)}">
													<label>
														<input type="radio" ng-model='userConfig[cntl.$["ref"]]' value="{{lab}}" checked>
														{{lab}}
													</label>
												</div>
											</div>
										</div>

										<!-- radio-->
										<div class="form-group" ng-if='cntl.setting.$["gui"]=="radius-inline"' ng-show='showMe(cntl)'>
											<label class="col-sm-5 control-label">{{cntl.setting.$["display"]}}</label>
											<div class="col-sm-5">
												<div class="radio-inline" ng-repeat='lab in parseList(cntl.setting.$["values"])' ng-class="{disabled: disableMe(cntl)}">
													<label>
														<input type="radio" ng-model='userConfig[cntl.$["ref"]]' value="{{lab}}" checked>
														{{lab}}
													</label>
												</div>
											</div>
										</div>

										<!-- dropbox-->
										<div class="form-group" ng-if='cntl.setting.$["gui"]=="dropbox"' ng-show='showMe(cntl)'>
											<label for={{cntl.setting.$["id"]}} class="col-sm-5 control-label">{{cntl.setting.$["display"]}}</label>
											<div class="col-sm-5">
												<select class="form-control" ng-model='userConfig[cntl.$["ref"]]' ng-class="{disabled: disableMe(cntl)}">
													<option ng-repeat='lab in parseList(cntl.setting.$["values"])'>{{lab}}</option>
												</select>
											</div>
										</div>

										<!-- checkbox-->
										<div class="form-group" ng-if='cntl.setting.$["gui"]=="checkbox"' ng-show='showMe(cntl)' >
											<label for={{cntl.setting.$["id"]}} class="col-sm-5 control-label">{{cntl.setting.$["display"]}}</label>
											<div class="col-sm-5">
												<div class="checkbox" >
													<label>
														<input type="checkbox" ng-model='userConfig[cntl.$["ref"]]' ng-class="{disabled: disableMe(cntl)}"/>
													</label>
												</div>
											</div>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.col-xs-12 main -->

		</div><!--/.row-->
	</div><!--/.container-->
</div>
